<header id="header">
    <div class="inner">
        <a href="/" class="logo">
            <span class="symbol"><img src="/images/logo.svg" alt="<%= config.title %>" /></span>
            <span class="title"><%= config.title %></span>
        </a>
    </div>
</header>
